/* footer ----------------------------------------------- */

/* footer 위치 조정 */
.common--footer {
    height: 120px;
    padding: 0 300px 0;
    display: grid;
    grid-template-columns: 326px 652px 326px;
    place-items: center;
    margin-bottom: 30px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

/* 로고 크기 조정 */
.common--footerLogo {
    height: 100px;
}

/* 화살표 버튼 조정 / 아이콘 조정 / 상호작용 */
.common--footer > div:last-child {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: #D9D9D9;
    display: grid;
    place-items: center;
}
.common--footer i {
    font-size: 25px;
}
.common--footer i:hover {
    color: red;
}