<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resultPage</title>
</head>
<body>
    <!-- <h3 th:text="${buyer}+ '님의 구매 목록'"></h3>
    <h6 th:text="'검은 펜 ' + ${blackPen} + '개: ' + ${blackPrice}"></h6>
    <h6 th:text="'빨간 펜 ' + ${redPen} + '개: ' + ${redPrice}"></h6>
    <h6 th:text="'파란 펜 ' + ${bluePen} + '개: ' + ${bluePrice}"></h6>
    <h6 th:text="'화이트 ' + ${white} + '개: ' + ${whitePrice}"></h6>
    <hr>
    <h6 th:text="'총합 ' + ${totalPrice} + '원을 결제하셨습니다.'"></h6> -->
    <h3 th:text="${buyer} + '님의 구매 목록'"></h3>
    <h6>검은 펜: <span th:text="${blackPen}"></span>개, 가격: <span th:text="${blackPrice}"></span>원</h6>
    <h6>빨간 펜: <span th:text="${redPen}"></span>개, 가격: <span th:text="${redPrice}"></span>원</h6>
    <h6>파란 펜: <span th:text="${bluePen}"></span>개, 가격: <span th:text="${bluePrice}"></span>원</h6>
    <h6>화이트: <span th:text="${white}"></span>개, 가격: <span th:text="${whitePrice}"></span>원</h6>
    <hr>
    <h6 th:text="'총합 ' + ${totalPrice} + '원을 결제하셨습니다.'"></h6>
</body>
</html>