<div id="commentArea">
    <!-- 댓글 목록 -->
    <div class="comment-list-area">

        <ul id="commentList">

            <!-- 부모 댓글/자식 댓글  -->
                <li class="comment-row" 
                    th:each="comment : ${board.commentList}"
                    th:classappend="${comment.parentNo} != 0 ? child-comment : ''" 
                    th:object="${comment}"
                    >                           <!-- ''" 이부분을 지워서도 쓸수 있음 -->

                    <p class="comment-writer">

                    <!-- 프로필 이미지 -->
                        <!-- 없을 경우 기본 이미지 -->
                        <img th:unless="*{profileImage}" th:src="@{/images/user.png}">

                        <!-- 있을 경우 프로필 이미지 -->
                        <img th:if="*{profileImage}" th:src="*{profileImage}">


                    <!-- 닉네임 -->
                    <span th:text="*{memberNickname}">닉네임</span>

                    <!-- 작성일 -->
                    <span class="comment-date" th:text="*{commentCreateDate}">코멘트</span>
                </p>

                <!-- 댓글 내용 -->
                <p class="comment-content" th:text="*{commentContent}">내용</p>


                <!-- 버튼 영역 -->
                <div class="comment-btn-area"> <!-- 답글달고자 하는 부모 댓글 / this 버튼 영역-->
                    <button th:onclick="|showInsertComment(*{commentNo},this)|">답글</button>
                                        <!-- 함수이름이 글자가아니기 때문에 글자를 인식하기위해서 ||을 쓴다 -->

                    <!-- 로그인 회원과 댓글 작성자가 같은 경우 -->
                    <th:block th:if="${session.memberNo?.memberNo == comment.memberNo}">

                        <button th:onclick="|showUpdateComment(*{commentNo}, this)|">수정</button>
                        <button th:onclick="|deleteComment(*{commentNo})|">삭제</button>

                    </th:block>
                </div>
            </li>
            </items=>


            <!-- 자식 댓글 -->
            <li class="comment-row child-comment">
                <p class="comment-writer">

                    <!-- 프로필 이미지 -->
                    <img src="/images/user.png">

                    <!-- 닉네임 -->
                    <span>${comment.memberNickname}</span>

                    <!-- 작성일 -->
                    <span class="comment-date">2023년 05월 9일 12시 20분 10초</span>
                </p>

                <!-- 댓글 내용 -->
                <p class="comment-content">자식 댓글 입니다</p>


                <!--  버튼 영역 -->
                <div class="comment-btn-area">
                    <button>답글</button>

                </div>
            </li>

        </ul>
    </div>


    <!-- 댓글 작성 부분 -->
    <div class="comment-write-area">
        <textarea id="commentContent"></textarea>
        <button id="addComment">
            댓글<br>
            등록
        </button>

    </div>

</div>